node_modules
npm-debug.log
.git
.gitignore
README.md
.next
out
.env.local
.env.*.local
.DS_Store
*.pem
.vercel
amplify.yml
eslint.config.mjs
scripts
.github
logs.txt
*.md
public/service-worker.js
public/sw.js
public/sw-custom.js
public/workbox-*.js
